<h1><%= @final_result_message %></h1>

<h1><%= @user.name %></h1>
<% @user.attributes.each do |k, v| %>
  <div><%= "#{k}: #{v}" %></div>
<% end %>

<h1><%= @my_school.name %></h1>
<% @my_school.preferences.attributes.each do |k, v| %>
  <div><%= "#{k}: #{v}" %></div>
<% end %>

<h1><%= @opp_school.name %></h1>
<% @opp_school.preferences.attributes.each do |k, v| %>
  <div><%= "#{k}: #{v}" %></div>
<% end %>
